{% extends 'NAOAppBundle:App:layout.html.twig' %}
{% block title %}{{ parent() }} Connexion{% endblock %}
{% block contenu %}
<div class="row">
    <div class="col-md-4 col-sm-1"></div>
    <div class="col-md-4 col-sm-10">
        <div class="bloc-blanc bloc-login">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-info">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <h1 class="titre-login text-center">Connexion</h1>
            {% if error %}
            <div class="alert alert-danger">Erreur de connexion. Verifiez que vos identifiants sont corrects ou que votre compte est bien activé</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Pseudo ou Email</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password" />
                </div>
                <input type="submit" class="btn-login bouton-fonce btn btn-default" value="Connexion" />
                <p class="text-center">
                    Vous n'avez pas encore de compte? <a href="{{ path("registration") }}">Inscrivez vous</a>
                </p>
                <div id="lien-accueil">
                    <a href="/"><span class="fa fa-hand-o-left"></span> Retourner à l'accueil</a>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-4 col-sm-1"></div>
</div>

{% endblock %}
