<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Observations</title>
</head>
<body>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    <h1>Observations</h1>
    {% for obs in app.user.observations %}
        <p>{{ obs.id }} - {{ obs.species.nomValide }}</p>
        <img src="/{{ obs.image.webPath }}" alt="{{ obs.image.alt }}" width="150px"/>
    {% endfor %}
</body>
</html>
