{% extends 'NAOAppBundle:BackOffice:layout.html.twig' %}
{% block title %}{{ parent() }} Validations{% endblock %}
{% block contenu %}
<div class="container bloc-back">
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info">
            {{ flash_message }}
        </div>
    {% endfor %}
    <h1 class="titre-validations text-center">Merci de participer aux validations</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% if observations|length == 0 %}
        <div class="alert alert-info">
            Il n'y a pas d'observations en attente pour le moment!
            Bientôt...
        </div>
        {% endif %}
        {% for obs in observations %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ obs.id }}">

                    <a href="#collapse{{ obs.id }}" class="a-panel collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                        aria-expanded="false" aria-controls="collapse{{ obs.id }}"
                    >
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="panel-title">
                                <span class="fa fa-chevron-down"></span>
                                {{ obs.species.nomValide }}
                                le
                                <em>{{ obs.date|date("d/m/Y") }}</em>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="statut text-right">
                                Posté par
                                <strong>{{ obs.owner.username }}</strong>
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="panel-collapse collapse" id="collapse{{ obs.id }}" role="tabpanel" aria-labelledby="heading{{ obs.id }}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    Cette observation concerne l'espèce
                                    <strong>{{ obs.species.nomValide|lower }}</strong> ({{ obs.species.nomVern|lower }}).
                                    Elle date du <strong>{{ obs.date|date("d/m/Y") }}</strong>
                                    et voici les informations correspondantes :
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            {% if obs.image %}
                            <div class="col-md-6 col-sm-12 bloc-map">
                                <p><strong>Emplacement :</strong></p>
                                <div class="latitude" hidden>{{ obs.latitude }}</div>
                                <div class="longitude" hidden>{{ obs.longitude }}</div>
                                <div class="map-obs"></div>
                            </div>
                            <div class="col-md-6 col-sm-12 bloc-image">
                                <p><strong>Photo  :</strong></p>
                                <div class="image">
                                    <img src="/{{ obs.image.webPath }}" alt="{{ obs.image.alt }}"/>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-12 bloc-map">
                                <p><strong>Emplacement :</strong></p>
                                <div class="latitude" hidden>{{ obs.latitude }}</div>
                                <div class="longitude" hidden>{{ obs.longitude }}</div>
                                <div class="map-obs"></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-12 bloc-message">
                                <p><strong>Message laissé par l'observateur :</strong></p>
                                <div class="user-message">
                                    <p>{{ obs.userMessage }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 bloc-form">
                                {{ form_start(attribute(forms, obs.id), {'action': path('nao_back_office_post_validations', {'id': obs.id}), 'method': 'POST'}) }}
                                {{ form_errors(attribute(forms, obs.id)) }}
                                <div>
                                    {{ form_label(attribute(forms, obs.id).validationMessage) }}
                                    {{ form_errors(attribute(forms, obs.id).validationMessage) }}
                                    {{ form_widget(attribute(forms, obs.id).validationMessage) }}
                                </div>
                                <div>
                                    {{ form_label(attribute(forms, obs.id).status) }}
                                    {{ form_errors(attribute(forms, obs.id).status) }}
                                    {{ form_widget(attribute(forms, obs.id).status) }}
                                </div>
                                <p class="alert alert-danger">
                                    Faites bien attention, ce choix est définitif. <br>
                                    N'oubliez pas de laisser un message
                                    à l'observateur ! En cas de refus, précisez les raisons et n'oubliez pas que les particuliers
                                    sont bénévoles, ils nous sont d'une grande aide, aidez les à s'améliorer !
                                </p>
                                <input type="submit" id="nao_appbundle_observation_save" class="bouton-fonce btn btn-default" value="Valider">
                                {{ form_end(attribute(forms, obs.id)) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">

var tabs = document.querySelectorAll('.panel-heading');
for (var i = 0; i < tabs.length; i++) {
    tabs[i].addEventListener('click', function() {
        window.setTimeout(function() {
            initMap();
        }, 100);

    });
}

mymaps = [];
markers = [];
function initMap() {
    var maps = document.querySelectorAll('.map-obs');

    maps.forEach(function(e) {

        var parent = e.parentNode;
        var childs = parent.childNodes;

        var lat = parseFloat(childs[3].innerHTML);
        var lng = parseFloat(childs[5].innerHTML);
        console.log(lat);
        console.log(lng);

        var map = new google.maps.Map(e, {
            center: {lat: lat, lng: lng},
            scrollwheel: false,
            zoom: 12,
        });
        mymaps.push(map);

        var marker = new google.maps.Marker({
            map: map,
            position: {lat: lat, lng: lng},
            animation: google.maps.Animation.DROP,
        });
        markers.push(marker);
    });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9seytk1giw2EFp4XLJo17y5H-jiDvrcI&callback=initMap"
    async defer></script>
{% endblock %}
{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Validations</title>
    </head>
    <body>
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        <h1>Validations</h1>
        {% for obs in observations %}
            <p>{{ obs.id }} - {{ obs.species.nomValide }} - {{ obs.status }}</p>
            {% if obs.image %}
                <img src="/{{ obs.image.webPath }}" alt="{{ obs.image.alt }}" width="150px"/>
            {% endif %}
            {{ form_start(attribute(forms, obs.id), {'action': path('nao_back_office_post_validations', {'id': obs.id}), 'method': 'POST'}) }}
            {{ form_errors(attribute(forms, obs.id)) }}
            {{ form_end(attribute(forms, obs.id)) }}
        {% endfor %}
    </body>
</html>
#}
